@import url('https://fonts.googleapis.com/css?family=Scope+One');

@import "../css/reset.css";

html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font-weight: normal;
	font-family: 'Scope One', serif;
	color:#ecedef;
	position:relative;
	background: #334960;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Scope One', serif;
	color: #ecedef;
}

h1 {
	font-size: 40px;
	padding-left: 10px;
	line-height: 50px;
	text-align: left;
}

h2 {
	font-size: 60px;
	padding-top: 101px;
	line-height: 60px;
	text-align: center;
}

h3 {
	font-size: 30px;
	line-height: 35px;
}

/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #334960;

}

.center {
	text-align: center;
}

.clear {
	float: none !important;
	clear: both;
}



/*header*/

header {
	display: block;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	padding-bottom: 20px;
	top: 0;
	overflow: hidden;
	background-color: #334960;
	transition: 0.2s ease;
	-o-transition: 0.1s ease;
	-webkit-transition: 0.2s ease;
	text-align: center;
}




h1 {
	padding-top: 28px;
	float: left;
	z-index: 999;

}

/*Content*/
.content {
	padding-top: 125px;
	text-align: center;
	position: relative;
}

.content:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 37px 50px 0 50px;
border-color: #334960 transparent transparent transparent;
	left: 50%;
	margin-left: -50px;
	top: 0;

}

#page3:after {
	border-color: #334960 transparent transparent transparent;

}

#page5:after {
	border-color: #f17c72 transparent transparent transparent;

}

#page1 {
	padding-bottom: 191px;
}

#page1 h3 {
	padding: 15px;
}

header.page1 .men .hover{
	top: 0;
}

header.page3 .men2 .hover{
	top: 0;
}

header.page5 .men4 .hover{
	top: 0;
}

#page3 {
	background-color: #f17c72;
	padding-top: 80px;
}

header.page3{
	background-color: #32ac97;
}

header.page3 .hover {
	background-color: #46dcc7;
}

#page5 {
	background-color: #32ac97;
}

header.page5{
	background-color: #3f9fc9;
}

header.page5 .hover {
	background-color: #37637f;
}

.content {
}

.slogan h3 {
	margin-bottom: 30px;
}

.contact a {
	height: 20px;
	background: url(../images/email.png) 0 0 no-repeat;
	background-size: 45px 45px;
	text-align: left;
	padding: 23px 0px 0px 48px;
	display: inline-block;
	font-size: 20px;
	line-height: 0;
}

.text1 {
	font-size: 19px;
	line-height: 19px;
}

.highlight {
	background-color: rgba(221,124,114,0.8);
}

.box {
	padding: 23px 0 24px;
	border-top-width: 4px;
	border-bottom-width: 4px;
}

.box img {
	border: 3px solid #f4948b;
	border-radius: 500px;
	margin-bottom: 19px;
	height: 70px;
}

.box .text1 {
	margin-bottom: 1px;
}

.slogan {
	margin-bottom: 117px;
}

.podium {
	background-color: #343434;
}

.add_candidate {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 22px;
	height: 22px;
	background: url(../images/add.png) 0 0 no-repeat;
	background-size: 22px 22px;
	color: #fff;
}

.selected {
}

.button {
    background-color: #fafafa;
    border: none;
    color: #343434;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.text-fill {
	color: #343434;
}

#popup-select{
    width: 60%;
		position: fixed;
		top:30%;
		left:20%;
		text-align: center;
		color: #343434;
		margin: 10px;
}

.select-candidate{
	margin-bottom: 2px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(256,256,256,0.8);

}

#page3  {
	padding-bottom: 190px;
}

#page3 .box {
	color: #fff;
	background-color: rgba(0,0,0,0.2);
	padding: 22px 15px 27px;
}

#page3 .box img {
	margin-bottom: 21px;
	border-color: #c8f5ee;
	background-color: rgba(32, 153, 181, 0.61);
}

#page3 .box .text1 {
	margin-bottom: 16px;
}

#page5 {
	padding-top: 80px;
	padding-bottom: 5px;
}

#page5 .slogan {
	margin-bottom: 110px;
}

/************Footer***********/

footer {
	display: block;
}

footer {
}

footer a:hover {
	color: #f17c72;
}
